@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

@media screen and (max-width: 480px) {

 body{
       overflow-x: hidden;
       margin: 0;
       padding: 0;
      background:#F4F3EE !important;
      transition: smooth;
      transition-duration: 4s;
       
       }

}