@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');


body, html{
       margin: 0;
       padding: 0;
       background-color: #121212 !important;
       transition: smooth;
       transition-duration: 4s;
       width: 100%;
      
      }
@media screen and (max-width: 480px) {

 body, html{
        margin: 0;
        padding: 0;
        background-color: #121212;
        transition: smooth;
        transition-duration: 4s;
        overflow-x: hidden;
       
       }

}