@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@media screen and (max-width: 480px) {

    .footer{
        position: relative;
        top: 0rem !important;
        height: 48rem !important;
        width: 100%;
        padding-top: 0rem !important;
        border-radius: 0;
        color: white;
        padding-bottom: 2rem !important;
    }
    .logo{
        width: 100%  !important;
        height: 55px !important;
    }
    .ColContainer{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }
    .linksContainer{
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 10px;
        text-align: center !important;
        /* margin-top: 25px */
    }
   
    
}
.footer{
    height: 200px !important;
    width: 100% !important;
    color: #888888;
    display: flex !important;
    align-items: center !important;
}
.ColContainer{
    width: 100% !important;
    flex-direction: row !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}
.socialContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 16px;
}

.linksContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 16px;
    text-align: center !important;
    /* margin-top: 25px */
}
.logo{
    width: 119px;
    height: 64.91px;
}
.iconBox{
    width: 38.72px;
    height: 38.51px;
    background: #222222;
    border-radius: 100%; 

    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.icon{
    width: 18px;
    height: 18px;
}

.links{
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}
.copyright{
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
}