@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@media screen and (max-width: 480px) {

    .footer{
        position: relative;
        top: 0rem !important;
        height: 48rem !important;
        width: 100% !important;
        padding-top: 0rem !important;
        border-radius: 0;
        color: white;
        padding-bottom: 2rem !important;
    }
    .logo{
        width: 100% !important;
        object-fit: contain !important;
    }
    .iconBox{
        width: 28.72px !important;
        height: 28.51px !important;
        background: #222222;
        border-radius: 100%; 
        justify-self: center;    
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
    .icon{
        width: 12px !important;
        height: 12px !important;
        align-items: center;
    }
    .ColContainer{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .copyright{
        position: absolute;
        top: 1 !important;
        bottom: 0 !important;
        width: 350px !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .link{
        height: 24px !important;    
        font-family: 'Inter', sans-serif !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 24px !important;
        width: 300px !important;
        text-align: center !important;
    }
    .linksContainer{
        position: relative;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        gap: 20px !important;
        text-align: center !important;
        /* margin-top: 25px */
        text-align: center !important;
        color: #888888 !important;

    }
    .links{
        height: 24px !important;    
        font-family: 'Inter', sans-serif !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 24px !important;
        width: auto !important ;
        color: #888888 !important;


    }
   
    
}
.footer{
    height: 200px !important;
    width: 100% !important;
    color: #888888;
    display: flex !important;
    align-items: center !important;
}
.ColContainer{
    width: 100% !important;
    flex-direction: row !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}
.socialContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 16px;
}

.linksContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center !important;
    gap: 16px;
    text-align: center !important;
    /* margin-top: 25px */
}
.logo{
    width: 119px;
    height: 64.91px;
}
.iconBox{
    width: 38.72px;
    height: 38.51px;
    background: #222222;
    border-radius: 100%; 

    display: flex;
    justify-content: center !important;
    align-items: center !important;
    justify-self: center;
}
.iconBox:hover{
    transform: scale(.9);
    transition: transform 0.3s ease-in-out;

}
.icon{
    width: 18px;
    height: 18px;
}

.links{
    height: 24px;
    width: 100% !important;

    font-family: 'Inter', sans-serif !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important; 
    line-height: 24px !important; 
    width: auto !important ;
    color: #888888 !important;
    transition: transform 0.3s ease-in-out;



}
.links:hover{
   transform: scale(.9);

}
.link{
    height: 24px;
    width: 100% !important;

    font-family: 'Inter', sans-serif !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important; 
    line-height: 24px !important; 
    width: auto !important ;
    color: #888888 !important;


}
.link:hover{
    color: rgb(151, 150, 150) !important;
}
.link:focus{
    color: #003392 !important;
}
.links:hover{
    color: gray !important;
}
.links:focus{
    color: #003392 !important;
}
.copyright{
    width: 100%;
    display: flex;
    justify-content: flex-end ;
}

.whatsappbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .whatsappbutton:hover {
    transform: scale(1.1);
  }
  
  .whatsappbutton a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  
  .fa-whatsapp {
    font-size: 24px;
  }
  