
/* mobile  */
@media screen and (max-width: 640px)  {
    .navbar{
        width: 100% !important;
        height: 54px !important;
        background-color: #2f2f2f !important;
        color: #fff !important;
    }
    .logo{
      width: 45px !important;
      height: 45px !important;
      object-fit: contain !important;
  }
  .navCon{
      padding-top: -20px !important;
  }
  .menu{
    display: flex !important;
    width: 100% !important;
    justify-content: flex-start !important;
    text-align: left !important;
    align-items: flex-start !important;
    padding: 20px;
  }
  .menu2{
    display: flex !important;
    width: 100% !important;
    justify-content: flex-start !important;
    text-align: left !important;
    align-items: flex-start !important;
    padding: 10px;
}
  .btnclose {
    background-color: #acacac;
    color: #121212 !important;
    border: 1px solid #000 !important;
    border-radius: 5px;
}
  .Offcanvas{
    background-color: rgb(18, 18, 18, 0.89) !important;
    height: 450px;
    display: flex !important;
    width: 100% !important;
    justify-content: flex-start !important;
    text-align: left !important;
    border: 1px solid #2f2f2f !important;
    color: #fff !important;
    border-radius: 7px !important;
    animation: fadeIn 0.3s ease-in-out;
    
  }
 
  .link{
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600 !important;
      font-size: 1rem;
      line-height: 19px;
      text-align: center;    
      color: #FFFFFF !important;   
      cursor: pointer;  
    animation: fadeIn 0.3s ease-in-out;


  
  }
  .link:hover{
      color: gray !important;
  }
  .link:focus{
      color: #003392 !important;
  }
  .btn{
      font-family:'Inter', sans-serif !important;  
      position: relative;
      display: flex;
      flex-direction: row;
      width: 184px;
      height: 51px;
      justify-content: center !important;
      align-items: center !important;
      padding: 11px !important;
      line-height: 19px;
      background: #003392d2 !important;
  
      border-radius: 5px !important;
      font-weight: 500 !important;
      border: none !important;
      color: white !important;
      font-size: 1rem;
      cursor: pointer;  
    animation: fadeIn 0.3s ease-in-out;


    
  }
  .btn:hover{
      background: #fff !important;
      border: none !important;
      color: #000 !important;
      font-weight: 500 !important;
      border: none !important;
      font-family:'Inter';  
      cursor: pointer;  
      font-size: 1rem;
  
  }
  
  .navToggle{
      border: none !important;
  }
  .navToggle:focus{
    border: none;
    border-color: transparent !important;
  }
  .navToggle:focus-visible{
    border: none;
  }
  
     
  }
  
  /* tablet  */
  @media screen and (max-width: 768px) {
  }


/* desktop small  */
.logo{
    width: 120px ;
    height: 120px ;
    object-fit: contain;
}
.navbar{
    font-family:'Inter', sans-serif;
    height: 94px ;
    background-color: #121212 ;
    color: #fff !important;
}

.link{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;    
    color: #FFFFFF !important;    
    animation: fadeIn 0.3s ease-in-out;


}
.link:hover{
    color: gray !important;
    transform: scale(.9) !important;
    animation: fadeIn 0.3s ease-in-out;

}
.link:focus{
    color: #003392 !important;
}
.btn{
    font-family:'Inter';  
    position: relative;
    display: flex;
    flex-direction: row;
    width: 184px;
    height: 51px;
    justify-content: center !important;
    align-items: center !important;
    padding: 11px !important;
    line-height: 19px;
    background: #003392d2 !important;

    border-radius: 5px !important;
    font-weight: 500 !important;
    border: none !important;
    color: white !important;
    font-size: 1rem;
    animation: fadeIn 0.3s ease-in-out;
  
}
.btn:hover{
    background: #fff !important;
    border: none !important;
    color: #000 !important;
    font-weight: 500 !important;
    border: none !important;
    font-family:'Inter', sans-serif;  

    font-size: 1rem;

}
.menu2{
    display: none;
}

