@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.hero{
    background-color: #121212;
    height: 700px !important;
    width: 100% !important;
}
.heroInfoContainer{    
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    top: 97px  !important;
    
}

.title{
    width: 902px;
    height: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    /* margin-bottom: 10px; */
    }
.tagline{
    width: 376px;
    height: 20px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 0px;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.desc{
    width: 613px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    top: 53px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px;    
    position: relative;
    width: 192px;
    height: 55px;
    border: none !important;
    
    background: #003392 !important;
    border-radius: 10px;
    top: 97px ;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

.btn:hover{
    /* color: #fff !important;
    background: #003392!important; */
    border: none !important;

    transform: scale(1.03);
    box-shadow: 2px 2px 2px 2px  #00339259
 }
 .box{
    position: relative;
    /* margin-bottom: 490px !important; */
 }
 .freebox{
    height: 90px !important;
    width: 100%;
    background-color: transparent;
    position: relative;
 }
 .partners{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    width: inherit !important;
    height: 150px;
    background: #000000;
    margin-top: 170px;
    justify-content: space-between;
    
 }
.firstSec{
    display: flex;
    flex-direction: row !important;
    position: relative;
    gap: 160px;
    width: 480px !important;
    justify-content:center !important;
    align-items: center !important;
    border-right: 1px solid grey !important;
}
.secondSec{
    display: flex;
    flex-direction: row !important;
    position: relative;
    gap: 100px;
    width: 480px;
    justify-content:center !important;
    align-items: center !important;
    border-right: 1px solid grey !important;
}
 .thirdSec{
    display: flex;
    flex-direction: row !important;
    position: relative;
    gap: 50px;
    left: 45px;
    width: 480px;
    justify-content:center !important;
    align-items: center !important;
    border-right: 1px solid grey !important;

}
.secTitle{
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: gray;
    width: 100% !important;
}
.secTitle2{
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: gray;
    width: 100px !important;
    margin-left: -70px;
}
.secDesc{
    margin-top: 13px;
    width: 180px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: gray;
    margin-left: -40px;

}
.social{
    width: 22px;
    height: 22px;
    
}