@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.col1{
    position: relative;
    top: 100px
}
.text1{
    font-family:'Inter', sans-serif;
    font-size: 3.2rem;
    color: #000;
    font-style: normal;
    width: 100%;
    font-weight: 700;
    line-height: 3.9rem;
   

   
}
.text2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #000;
    width: 80%;
    font-weight: 400;
    line-height: 2rem;


   
}
.col1 >p{
    margin-top: 6%;
    margin-bottom: 6%;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    align-items: flex-start !important;
    text-align: left !important;
    



}
.btn1{
    
        font-family:'Inter', sans-serif;  
        border-radius: 5px !important;
        border: none !important;
        font-weight: 500 !important;
        color: white !important;
        font-size: 1rem !important;
        padding: 11px 26px 11px 26px !important;
        background: linear-gradient(180deg, #5271ff 26.71%, #5271ff 99.36%);
        box-shadow: 0px 2px 2px 5px  rgba(82, 114, 255, 0.17)
}

.btn2{
    
    font-family:'Inter', sans-serif !important;  
    border-radius: 0px !important;
    border: none !important;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.795) !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
.btn1:hover{
    /* color: #fff !important;
    background: #5271ff!important; */
    border: none !important;

    transform: scale(1.03);
    box-shadow: 2px 2px 2px 2px  rgba(82, 114, 255, 0.33)
 }
 .btn2:hover{
   color: gray !important;
 }

.imgCon{   
    border: 1px solid transparent;
   }
   .img{
       object-fit: cover;
       height: 500px;
       width: 550px;
    border-radius: 50% 50% 0% 50%;

   }
   .small{
    font-family:'Inter', sans-serif;

    font-size: 13px;
    line-height: 2rem;
    font-weight: 400;
   }
   .whatsapp{
    position: relative;
    width: 26px;
    height: 26px;
    top: -3px
   }

   .whyus{
    margin-top: 60px;
   }
   .whyus >h3{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    color: #64748b;
    line-height: 18px;
    font-weight: bold;
   }
   .feature{
    display: flex;
    flex-direction: row;
    gap: 20;
    /* justify-content: flex-start !important; */
   }

   .ficon{
    position: relative;
    width: 50px !important;
    height: 50px !important;
    justify-content: flex-start !important;
    left: 0 !important;
    
   }