.container{
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #121212 !important;


}
.title{
    width: 100%;
    height: 46px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;  
    margin-top: 40px;
    text-align: center;

    color: #fff;

}
.desc{
    width: 85%;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    color: #fff;

}




@media screen and (max-width: 575.98px) {
    .container{
        height: auto;
        width: 100%;
        background-color: #121212 !important;   
        display: flex;
        text-align: center;
        justify-content: center;
    
    }
    
    .title{
        width: 100%;
        font-family: 'Inter', sans-serif;
        width: 310px !important;
        height: 58px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 32px !important;
        line-height: 36px !important;
        color: #fff;
        
    
    }
    .desc{
        width: 100% !important;
        height: 82px !important;   
        font-style: normal;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        font-family: 'Inter', sans-serif !important;
        margin-bottom: 25px;
        margin-top: 35px;
        color: gray;
        margin-bottom: 20px !important;
    
    }
}