
/* * mobile  */ 

@media screen and (max-width: 480px){
    .col1{
        order: 1;
        -ms-flex-order: 1;
        margin-top: 15px;
    }
    .topContainer{
        /* background-color: #0E0E0F !important; */
        height: 400px !important;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px !important;
    
    }
    .title{
        width: 310px !important;
        height: auto !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 28px !important; 
        line-height: 36px !important;
        text-align: left !important;
        /* margin-left: 38px; */
    }
    
    .desc{
        width: 100% !important;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        text-align: left !important;
        
    }

}

.topContainer{
    /* background-color: #0E0E0F !important; */
    height: 800px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    margin-top: 65px;
    color: white;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;

}
.title{
    width: 442px !important;
    height: 110px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: left !important;
    /* margin-left: 38px; */
}

.desc{
    width: 493px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left !important;

}
.col2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 613px;
    height: 409px;

}
.btn{
    justify-content: center;
    align-items: center;
    padding: 18px 28px;
    gap: 18px;

    width: 300px;
    height: 55px;

    background: #003392 !important;
    border-radius: 10px;
    /* margin-left: 38px; */
    border: none !important;

}